doctype html
html
  body
    h1= title
    h3= date
    div!= contents
    if previous
      h4: a(href="/#{previous.path}") prev - #{previous.title}
    if next
      h4: a(href="/#{next.path}") next - #{next.title}
    hr
